.empty {
  margin: 2rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.addCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addIcon {
  font-size: 5rem;
}
